@model IEnumerable<Blog> 
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Blog List</h2>
    <div class="row">
        <div class="col">

            @if (Model.Count()>0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>isApproved</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
	                    {
                        <tr>
                            <td>@item.BlogID</td>
                            <td>
                                <img src="~/img/@item.Image" width="100" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.AddedTime</td>
                            <td>
                                @if (item.isApproved)
                                {
                                    <p>Onaylanmış</p>
                                }
                                else
                                {
                                    <p>Onaylanmamış</p>
                                }
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogID">Details</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.BlogID">Delete</a>
                            </td>
                        </tr>
                           
	                    }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Blog Eklenmemiştir.
                </div>
            }

        </div>
    </div>
</div>
